################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exercise1/Exercise1
/Exercise1/.vs/Exercise1/FileContentIndex
/Lab04/Exercise1/.vs/Exercise1/FileContentIndex/29b1fec6-6fa8-4a50-8af3-906a76058306.vsidx
/Lab04/Exercise1/.vs/Exercise1/FileContentIndex/397a74ca-00b0-4b27-9774-da852706056b.vsidx
